@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Dancing+Script:wght@400..700&family=Montserrat:wght@700&display=swap');


.unselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.spec{
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.scroller {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: black transparent; /* For Firefox */
}

.scroller-spec {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}
.scroller::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scroller::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

.scroller::-webkit-scrollbar-thumb {
  background-color: red; /* Red thumb */
  border-radius: 10px; /* Optional: rounded corners */
  border: 3px solid transparent; /* Optional: space around the thumb */
  background-clip: content-box; /* Optional: to keep the border effect */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.searchicon:active .icon{
  font-size: 22px;
}
.searchicon:hover{
  cursor: pointer;
}